@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            display: none;


        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }

    .social-medias {

        .media-icons {
            font-size: 1.5rem;
        }
    }

    .contact-form {
        width: 70%;
        display: flex;
        flex-direction: column;

        #contact_form {
            display: flex;
            flex-direction: column;
        }
    }

    footer {
        display: flex;
        flex-direction: column;

        img {
            display: none;
        }
    }


}