@media (max-width: 768px) {
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        img {
            display: none;


        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }

    .social-medias {

        .media-icons {
            font-size: 1.5rem;
        }
    }

    .contact-form {
        width: 70%;
        display: flex;
        flex-direction: column;

        #contact_form {
            display: flex;
            flex-direction: column;
        }
    }

    footer {
        display: flex;
        flex-direction: column;

        img {
            display: none;
        }
    }

    header {
    .header-container {
        margin-top: 120px;
    }

    .nav-links {

        
        ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  
  display: flex;
  flex-direction: row;
  align-items: center;    /* centers horizontally */
  justify-content: center;
  gap: 15px;
}

    }
}

}