@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body  {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(81, 0, 255);

    .nav-links {
        padding: 20px;
    margin: 20px;
    background-color: rgb(218, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    img {
        width: 200px;
        height: auto;
    }

    .ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
    } 

    li {
        align-self: center;
        list-style-type: none;

        #contatos {
            border-bottom: solid 2px rgb(81, 0, 255);
        }
    }

    a {
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none;
    }

    button {
        color: #ffffff;
        width: 200px;
        padding: 20px;
        background-color: rgb(81, 0, 255);
        font-weight: bold;
        border: none;
        border-radius: 15px;
        transition: all 0.3s ease;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            background-color: rgb(99, 28, 165);
        }
    }
}


.header-container {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    

    h1 {
        line-height: 1;
        font-size: 4rem;
    }

    span {
        display: block;
        color: #ffee00;
        font-weight: bold;
        font-size: 1.5rem;
    }

    p {
        max-width: 80%;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
}



}

.nav-links {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

main {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/background.png);
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

.contact-list h1 {
    flex-wrap: wrap;
}

.contact-list span {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.contact-container {
    width: 600px;    
}

.contact-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    i {
        padding: 20px;
        border-radius: 50%;
        background-color: aqua;
        margin: 20px;
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        color: #797979;
        position: relative;
        top: -15px;
    }

    #phone {
        background-color: #ffee0044;
        color: #585303;
    }

    #whatsapp {
        background-color: #0dff004e ;
        color: #039819;
    }

    #email {
        background-color: #6f00ff4a;
        color: #6f00ff ;
    }

    #location {
        background-color: #0000ff40;
        color: #0000ff;
    }
}


.contact-form {
    width: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 40px;

}

#contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;

    .input-group {
        display: flex;
        flex-direction: column;

        &:nth-child(3) {
            grid-column: 1 / 3;
        }

        &:nth-child(4) {
            grid-column: 1 / 3;
        }
        
        label {
            color: #797979;
        }

        input, textarea {
            padding: 12px;
            border: solid 1px rgb(183, 183, 183);
            outline: none;
            resize: none;
            border-radius: 8px;
        }
    }

    button {   
        grid-column: 1 / 3;
        border-radius: 20px;
        background-color: #6f00ff;
        color: white;
        padding: 20px;
        border: none;
        font-weight: bold;
        margin-top: 20px;
        transition: all 0.3s ease;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            background-color: #43009a;
        }
    }


}

.media-icons {
    display: flex;
    gap: 20px;
    font-size: 3rem;

    #twitter {
        background-color: #000;
        color: white;
        border-radius: 50%;
        padding: 15px;
    }

    #facebook {
        background-color: #1100ff;
        color: white;
        border-radius: 50%;
        padding: 15px;
    }

    #linkedin {
        background-color: #006aff;
        color: white;
        border-radius: 50%;
        padding: 15px;
    }

    #instagram {
        background-color: #ff008c;
        color: white;
        border-radius: 50%;
        padding: 15px;
    }
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81, 0, 255);

    .footer-container {
        padding-right: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        #blog, #products {
            color: #ffee00;
            font-size: 2rem;
            &:hover {
                cursor: default;
            }
        }
        h1 {
            color: #ffffff;
            font-size: 1rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
}